[submodule "nvim/.local/share/nvim/site/pack/base16-vim/start/base16-vim"] 
  path = nvim/.local/share/nvim/site/pack/base16-vim/start/base16-vim
  url = https://github.com/chriskempson/base16-vim

[submodule "nvim/.local/share/nvim/site/pack/editorconfig-vim/start/editorconfig-vim"] 
  path = nvim/.local/share/nvim/site/pack/editorconfig-vim/start/editorconfig-vim
  url = https://github.com/editorconfig/editorconfig-vim

[submodule "nvim/.local/share/nvim/site/pack/nvim-compe/start/nvim-compe"] 
  path = nvim/.local/share/nvim/site/pack/nvim-compe/start/nvim-compe
  url = https://github.com/hrsh7th/nvim-compe

[submodule "nvim/.local/share/nvim/site/pack/nvim-lightbulb/start/nvim-lightbulb"] 
  path = nvim/.local/share/nvim/site/pack/nvim-lightbulb/start/nvim-lightbulb
  url = https://github.com/kosayoda/nvim-lightbulb

[submodule "nvim/.local/share/nvim/site/pack/nvim-lsp/start/nvim-lsp"] 
  path = nvim/.local/share/nvim/site/pack/nvim-lsp/start/nvim-lsp
  url = https://github.com/glacambre/nvim-lsp

[submodule "nvim/.local/share/nvim/site/pack/nvim-treesitter/start/nvim-treesitter"] 
  path = nvim/.local/share/nvim/site/pack/nvim-treesitter/start/nvim-treesitter
  url = https://github.com/nvim-treesitter/nvim-treesitter

[submodule "nvim/.local/share/nvim/site/pack/nvim-ts-context-commentstring/start/nvim-tn-context-commentstring"] 
  path = nvim/.local/share/nvim/site/pack/nvim-ts-context-commentstring/start/nvim-ts-context-commentstring
  url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring

[submodule "nvim/.local/share/nvim/site/pack/plenary.nvim/start/plenary.nvim"] 
  path = nvim/.local/share/nvim/site/pack/plenary.nvim/start/plenary.nvim
  url = https://github.com/nvim-lua/plenary.nvim

[submodule "nvim/.local/share/nvim/site/pack/popup.nvim/start/popup.nvim"] 
  path = nvim/.local/share/nvim/site/pack/popup.nvim/start/popup.nvim
  url = https://github.com/nvim-lua/popup.nvim

[submodule "nvim/.local/share/nvim/site/pack/telescope.nvim/start/telescope.nvim"] 
  path = nvim/.local/share/nvim/site/pack/telescope.nvim/start/telescope.nvim
  url = https://github.com/nvim-telescope/telescope.nvim

[submodule "nvim/.local/share/nvim/site/pack/vim-commentary/start/vim-commentary"] 
  path = nvim/.local/share/nvim/site/pack/vim-commentary/start/vim-commentary
  url = https://github.com/tpope/vim-commentary

[submodule "nvim/.local/share/nvim/site/pack/vim-fugitive/start/vim-fugitive"] 
  path = nvim/.local/share/nvim/site/pack/vim-fugitive/start/vim-fugitive
  url = https://github.com/tpope/vim-fugitive

[submodule "nvim/.local/share/nvim/site/pack/vim-vsnip/start/vim-vsnip"] 
  path = nvim/.local/share/nvim/site/pack/vim-vsnip/start/vim-vsnip
  url = https://github.com/hrsh7th/vim-vsnip

[submodule "nvim/.local/share/nvim/site/pack/vim-vsnip-integ/start/vim-vsnip-integ"] 
  path = nvim/.local/share/nvim/site/pack/vim-vsnip-integ/start/vim-vsnip-integ
  url = https://github.com/hrsh7th/vim-vsnip-integ
[submodule "nvim/.local/share/nvim/site/pack/telescope-fzy-native.nvim/start/telescope-fzy-native.nvim"]
	path = nvim/.local/share/nvim/site/pack/telescope-fzy-native.nvim/start/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
[submodule "nvim/.local/share/nvim/site/pack/trouble.nvim/start/trouble.nvim"]
	path = nvim/.local/share/nvim/site/pack/trouble.nvim/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "nvim/.local/share/nvim/site/pack/lsp_signature.nvim/start/lsp_signature.nvim"]
	path = nvim/.local/share/nvim/site/pack/lsp_signature.nvim/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "nvim/.local/share/nvim/site/pack/vim-git/start/vim-git"]
	path = nvim/.local/share/nvim/site/pack/vim-git/start/vim-git
	url = https://github.com/tpope/vim-git
[submodule "nvim/.local/share/nvim/site/pack/vim-speeddating/start/vim-speeddating"]
	path = nvim/.local/share/nvim/site/pack/vim-speeddating/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "nvim/.local/share/nvim/site/pack/vim-speeddating/start/vim-unimpaired"]
	path = nvim/.local/share/nvim/site/pack/vim-speeddating/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.local/share/nvim/site/pack/vim-surround/start/vim-surround"]
	path = nvim/.local/share/nvim/site/pack/vim-surround/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/.local/share/nvim/site/pack/vim-unimpaired/start/vim-unimpaired"]
	path = nvim/.local/share/nvim/site/pack/vim-unimpaired/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.local/share/nvim/site/pack/repeat/start/vim-repeat"]
	path = nvim/.local/share/nvim/site/pack/repeat/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/.local/share/nvim/site/pack/lsp-colors.nvim/start/lsp-colors.nvim"]
	path = nvim/.local/share/nvim/site/pack/lsp-colors.nvim/start/lsp-colors.nvim
	url = https://github.com/folke/lsp-colors.nvim
[submodule "nvim/.local/share/nvim/site/pack/numb.nvim/start/numb.nvim"]
	path = nvim/.local/share/nvim/site/pack/numb.nvim/start/numb.nvim
	url = https://github.com/nacro90/numb.nvim
[submodule "nvim/.local/share/nvim/site/pack/gitsigns.nvim/start/gitsigns.nvim"]
	path = nvim/.local/share/nvim/site/pack/gitsigns.nvim/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
